<div class="container height-full" id="upload_file">
    <h2 id="upload_file-head">Upload file</h2>
    <div class="container-fluid row">
        <div class="col-md-6 row">
            <div class="form-group">
                <label for="upload_file-name_input">File name</label>
                <input type="text" class="form-control" id="upload_file-name_input" placeholder="File name...">
            </div>
            <div class="form-group">
                <!-- <label for="upload_file-file_input">File</label>
                <input type="file" id="upload_file-file_input">
                <form action="" class="dropzone" dropzone="" id="dropzone">
                    <div class="dz-default dz-message">
                    </div>
                </form> -->
            </div>

            <input nv-file-select uploader="vm.fileUploader" type="file" value="Upload" />

            <button ng-click="vm.upload()">Upload</button>
        </div>
    </div>
</div>
