#content-main_box {
    padding-top: 51px;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}


/*=================================
=            Home page            =
=================================*/

#home {
    height: 100%;
    padding: 15px 15px 0;
    .home-col-options {
        width: 150px;
    }
    &-editor {
        height: 100%;
        .ace_editor {
            height: 95%;
            width: 100%;
        }
        &-button {
            height: 5%;
            padding-top: 8px;
        }
    }
}


/*=====  End of Home page  ======*/
